<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='traffic.png')}}"/>
    <!--Import materialize.css-->
    <!--https://pythonspot.com/flask-and-great-looking-charts-using-chart-js/-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <title>Chicago Traffic</title>
  </head>

  <body>
  <nav>
    <div class="nav-wrapper blue">
        <div class="container">
      <a href="#" class="brand-logo">Chicago Traffic</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Map</a></li>
        <li><a href="dashboard">Dashboard</a></li>
        <li><a href="architecture">Architecture</a></li>
      </ul>
    </div>
  </div>
  </nav>

  <div id="charts" style="padding: 20px 10px;" class="container">
      <h3>Dashboard</h3>
      <p>
          Chicago Traffic data in charts. See the Source Code
      </p>
      <a class="waves-effect waves-light btn-large blue" href="https://github.com/nrkfeller/traffic_chicago"><i class="material-icons right">code</i>Source Code</a>
  </div>

<div class=" grey lighten-4">

    <div class="container">
        <div class="row">
            <div class="col s12">
              <div class="card" style="height: 900px;" >
                <div class="card-content white-text">
                  <span class="card-title">Current Traffic</span>
                  <canvas id="line-chart" width="800" height="450"></canvas>
              </div>
              <div style="padding-left: 100px; padding-right: 100px;">
                  <label>Select Region</label>
                  <select class="browser-default" id="reg" onchange="createLineChart()">
                    <option value="" disabled selected>Chicago Loop</option>
                    {% for name in names %}
                        <option>{{name}}</option>
                     {% endfor %}
                  </select>
              </div>

              </div>
            </div>
            <div class="col s12">
              <div class="card">
                <div class="card-content white-text">
                  <span class="card-title">Current Traffic</span>
                  <canvas id="bar-chart-horizontal" width="800" height="450"></canvas>
                </div>
              </div>
            </div>
        </div>
    </div>






<script>

data = JSON.parse('{{ regions | tojson | safe}}');

var date = data["West Town-Near West"][1][0].slice(0,10);
var starttime = data["West Town-Near West"][1][data["West Town-Near West"][1].length - 1].slice(11,19)
var endtime = data["West Town-Near West"][1][0].slice(11,19)

var times = data["West Town-Near West"][1].reverse()

times.forEach(function(part, index, array){
    array[index] = part.slice(11,16)
})

function createLineChart(){

    var selector = document.getElementById("reg");
    var region = selector.options[selector.selectedIndex].text;

    new Chart(document.getElementById("line-chart"), {
      type: 'line',
      data: {
        labels: times,
        datasets: [{
            data: data[region][0].reverse(),
            label: region,
            borderColor: "#3e95cd",
            fill: false
          }
        ]
      },
      options: {
        title: {
          display: true,
          text: 'Last 24 hours ending on ' + date + ' at ' + endtime
        }
      }
    });
}

createLineChart();



sdata = JSON.parse('{{segments|tojson|safe}}');

var speeds = sdata['_traffic'];

var unknown = 0, slow=0, medium=0, fast=0;

for (i = 0 ; i < speeds.length; i++){
    if (speeds[i] === -1) {
        unknown++
    } else if (speeds[i] > 0 && speeds[i] < 20) {
        slow++
    } else if (speeds[i] > 20 && speeds[i] < 30) {
        medium++
    } else {
        fast++
    }
}


new Chart(document.getElementById("bar-chart-horizontal"), {
    type: 'horizontalBar',
    data: {
      labels: ["Unknown", "Between 0 and 20", "Between 20 and 30", "Faster than 30"],
      datasets: [
        {
          label: "Population (millions)",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9"],
          data: [unknown, slow, medium, fast]
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Histogram of Segments Speeds at ' + sdata['_last_updt'][0].slice(0, 19)
      }
    }
});


</script>



    <!--JavaScript at end of body for optimized loading-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  </body>
</html>
