<!DOCTYPE html>
<html>
  <head>
    <title>Chicago Traffic</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">

    <script src="{{ url_for('static',filename='js/maps.js') }}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
  <div>
      <nav>
        <div class="nav-wrapper indigo darken-4">
          <a href="#" class="brand-logo">Chicago Traffic</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Map</a></li>
            <li><a href="dashboard">Dashboard</a></li>
            <li><a href="architecture">Architecture</a></li>
          </ul>
        </div>
      </nav>
  </div>

  <div class="container">
      <div class="row">
          <div class="col s12">&nbsp</div>
          <div class="col s12"><h2>Map Of Chicago Traffic Status</h2></div>
          <div class="col s3">

              <div class="card orange darken-4">
                <div class="card-content white-text">
                  <span class="card-title">Streets to Avoid</span>
                  <ul class="collection">
                      <li class="collection-item">Alvin</li>
                      <li class="collection-item">Alvin</li>
                      <li class="collection-item">Alvin</li>
                      <li class="collection-item">Alvin</li>
                  </ul>
              </div>
            </div>

          </div>

          <div class="col s9">

                <div class="card orange darken-4">
                  <div class="card-content white-text">
                    <span class="card-title">Current Traffic</span>
                    <div id="map">
                  </div>
                </div>
              </div>

          </div>


  </div>









  <div id="map"></div>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAu3-00fcoXjHePR4asbDLn-cwaNoeARMo&callback=initMap">
    </script>



    <!--JavaScript at end of body for optimized loading-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  </body>
</html>
